



input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 5px auto;
    display: inline-block;
    border: 1px solid #2c2f33;
    border-radius: 4px;
    box-sizing: border-box;
}

.hero0 {
    width: 60%;
    float: left;
}

.hero00 {
    width: 38%;
    float: right;
}

.hero1 {
    width: 60%;
    float: left;
    margin-top: 6px;
}

.hero2 {
    width: 38%;
    float: right;
}

.hero3 {
    width: 60%;
    float: left;
}

.hero4 {
    width: 38%;
    float: right;
}

#eventType{
    width:340px; 
    height: 48px;
    border-color: black;
    border-radius: 3%;
}
  

input[type=submit] {
    width: 25%;
    background-color: #11101D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}

input[type=reset] {
    width: 25%;
    background-color: #EFEFEF;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    
}
  
input[type=submit]:hover {
    background-color: #4f4e57;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}


.error{
    color: red;
    font-size: 13px;
}

#correct{
    color: darkgreen;
    font-size: 15px;
}