*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', serif;
    box-sizing: border-box;
}

.container5{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.767)), url(images/pic1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
}
.zx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.content5{
    margin-top: 180px;
    color: #fff;
}
.content5 h1{
    font-size: 60px;
}
.search-box{
    background: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-radius: 5px;
    margin: 20px 0;
}
.search-box input{
    background: transparent;
    width: 600px;
    border: 0;
    outline: none;
}
.search-box button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.search-box button img{
    width: 22px;
}



@media (max-width:700px){
    .search-box input{
        width: 230px;
    }
    
    .content5 h1{
        font-size: 30px;
    }
    .content5{
        margin-top: 85px;
    }
    .search-box{
        padding: 10px 20px;
    }
    .search-box button img{
        width: 16px;
    }
}

.row2{
    margin-left: 215px;
    margin-top: -321px;
}




.info2 h1
{
    font-size: 30px;
}
.info2 a
{
    width: 135px;
    color: #fff !important;
    text-decoration: none !important;
    padding: 16px 20px;
    margin: 5% 10px;
    background: #292929;
    display: inline-block;
}
.info2 .second-btn
{
    
    border: 1px solid #000000 !important;
    background: transparent !important;
    color: #555 !important;
    transition: 0.5s;
}
.info2 .second-btn:hover
{
    background: #383838 !important;
    color: #fff !important;
}

.info2
{
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.zx15 .second-btn{
    border: 1px solid #000000 !important;
    background: transparent !important;
    
    transition: 0.5s;
    

    width: 135px;
    
    text-decoration: none !important;
    padding: 16px 20px;
    margin: 5% 10px;
    background: #292929;
    display: inline-block;

    background: #ffffff !important;
    color: #555 !important;
}

.zx15 .first-btn{
    border: 1px solid #000000 !important;
    background: transparent !important;
    color: #555 !important;
    transition: 0.5s;
    

    width: 135px;
    color: #fff !important;
    text-decoration: none !important;
    padding: 16px 20px;
    margin: 5% 10px;
    background: #292929;
    display: inline-block;

    background: #383838 !important;
    color: #fff !important;
}

.zx15{
    margin-left: 240px;
    margin-top: -26px;
}








